---
layout: default
---

<div class="me-container">
  <div class="me-me">
    <a href="/">
      <img alt="William Estoque" src="http://zanoby.com/assets/store/team/billy-84c61e2cd8755b51e816e9949ef45ef1.jpg" />
    </a>
  </div>
  <div class="bubble">
  </div>
</div>

<div class="banner">
  <img alt="sample" src="https://d233eq3e3p3cv0.cloudfront.net/max/700/0*8dMzbCZgyC4yRVK4.png" />
</div>

<h1 class="post-header">{{ page.title }}</h1>
<p class="post-date meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>
